html,bdoy{
    margin: 0;
    padding: 0;
    background: #ec5555;
    cursor: none;
}
a{
    color: blue;
    font-size: 50px;
    mix-blend-mode: difference;
}
.voCursorBigBox{
    position: fixed;
    pointer-events: none;
    top: -100px;
    left: -100px;
    width: 30px;
    height: 30px;
    transform: scale(1);
    transform-origin:-50% -50%;
    mix-blend-mode: difference;
    z-index: 3;
    transition: transform 0.2s ease;
}
.voCursorRelativeBox{
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    transform: rotate(45deg) translate(-50%,-50%);
    transition: all 0.3s ease;
    mix-blend-mode: difference;
}
.voCursorBox{
    position: absolute;
    width: 13px;
    height: 13px;
    background: #ffffff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    mix-blend-mode: difference;
    transition: all 0.2s ease;
}
.oHeight{
    height: 20000px;
}