body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.keyRowBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.keyBigBox{
    position: relative;
    width:60px;
    height:60px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease,height 0.5s ease;
    transform: translate(-50%,-50%) rotate(45deg);
    /* cursor: pointer; */
    margin: 0 40px;
}
.keyBox{
    width: 40px;
    height: 40px;
    background: #ec5555;
    transition: all 0.5s ease;
}

.keyboardGuide{
    width: 100%;
    height:100%;
    background: #000000cf;
    position: fixed;
    z-index: 2;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    /* animation:keyboardGuide 2.5s ease;
    animation-fill-mode: forwards;
    animation-play-state: paused; */
}
.keyboardGuide>img{
    height: 60%;
}

.vPianoEnd{
    width: 100%;
    height:34vh;
    background: #ec5555;
    position: fixed;
    z-index: 2;
    transition: all 0.5s ease;
}
#vPianoEnd1{
    top: 0%;
    left: -100%;
}
#vPianoEnd2{
    top: 33.3333333vh;
    left: -100%;
}
#vPianoEnd3{
    bottom: 0%;
    left: -100%;
}

/* 开始频谱可视化 */
.audioViewsBox{
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    transform:rotateX(180deg);
}
.audioViewsLine{
    width: 5px;
    height: 0%;
    position: relative;
    bottom: 0px;
    background-color: #ec5555;
    transition: height 0.3s ease,background-color 0.3s ease;
}
/* 结束频谱可视化 */
