<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>VoiNo ~ Vue版</title>
    <script src="./Plugin/Vue/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./Less/main.css">
    <script src="./JavaScript/main.js"></script>
</head>
<body>
<div id="App">
    <div class="voiNo-mouse" :class="{'mouse-click': voiNo_mouse.click, 'mouse-block': voiNo_mouse.block}" :style="{'top': voiNo_mouse.y, 'left': voiNo_mouse.x}"></div>
    <!-- 鼠标 -->
    <div class="voiNo-container">
        <div class="voiNo-container-box">
            <!--            <div :ref="'box-mouseover-'+key" v-for="(item,key) in 10" :key="key" :class="{'box-mouseover' : mouseover === key}" @mouseover="_box_mouseover(key)"></div>-->
            <div :ref="'box-mouseover-'+key" v-for="(item,key) in 10" :key="key" @mouseover="_box_mouseover(key)"></div>
            <!-- 播放按键 -->
        </div>
        <div class="voiNo-container-list">
            <div :class="'colors-' + (key + 1)" :ref="'box-mouseover-list-'+key" v-for="(item,key) in 10" :key="key">
                <div v-for="(item_,key_) in 31" :key="key_"></div>
            </div>
            <!-- -->
        </div>
        <!-- 全部容器 -->
    </div>
    <div class="voiNo-music">
        <!-- 音乐播放器 -->
    </div>
</div>
</body>
</html>